
@{
    Layout = null;
}

<div class="row">
    <form method="post" asp-action="Index" asp-controller="Upload" enctype="multipart/form-data">
        <input type="file" name="files" multiple />
        <input type="submit" value="Upload" />
    </form>
</div>