
@{
    ViewData["Title"] = "View";
}

<h2>@ViewBag.Grade</h2>

<ul>

    <li><a asp-controller="Student" asp-action="Add">Add Students</a></li>
    <li><a asp-controller="File" asp-action="Upload">Upload Files</a></li>
    <li><a asp-controller="Event" asp-action="add">Post Events</a></li>
    <li><a asp-controller="File" asp-action="Remove">Delete Files</a></li>
    <li><a asp-controller="Student" asp-action="Remove">Delete Students</a></li>

</ul>
