
@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<ul>

    <li><a asp-controller="Student" asp-action="Index">Students</a></li>
    <li><a asp-controller="File" asp-action="Index">Files</a></li>
    <li><a asp-controller="Event" asp-action="Index">Events</a></li>

</ul>
