
@{
    ViewBag.Title = "User Menu";
}



@Html.Partial("_NavBar")

    <h1>View: </h1>
    <ul>
        <li><a asp-controller="File" asp-action="Index" asp-route-studentID="@ViewBag.ID">Files</a></li>
        <li><a asp-controller="Event" asp-action="Index" asp-route-studentID="@ViewBag.ID">Events</a></li>
    </ul>
